* {
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    background-color: ghostwhite;
}

body {
    font-size: 16px;
    margin:0;
}
header, footer, main {
    padding-left: 100px;
    padding-right: 100px;
}
header {
    display: block;
    clear: both;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    background-color: inherit;
    padding-top: 1px;
}

header>menu {
    padding: 0 0 10px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: stretch;
}

header>menu>a {
    font-size: larger;
}

footer {
    display: block;
    clear: both;
    text-align: right;
    position: sticky;
    bottom: 0;
    background-color: inherit;
    padding-top: 20px;
    padding-bottom: 20px;

}


main {
    display: flex;
    gap: 40px;
    padding-top:0;
}
main menu {
    padding: 0;
    margin: 0;
    position: sticky;
    top:190px;
}
main menu>li {
    white-space: nowrap;
}
main>section {

}

h1 {
    font-size: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    color: #ff6400;
    white-space: nowrap;
    font-weight: bold;
}
